ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Helvetica;
  }

  li {
  float: left;
  }

  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  li a:hover {
  background-color: #18CCDC;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #DCDCDC;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(220, 220, 220, 0.8);
    border: 1px solid rgba(169,169,169, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #333; /* Light grey */
  border-top: 16px solid #18CCDC; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 50vh;
  left: 50vh;
  display: inline-block;
}

.loaderWrapper {
  text-align: center;
  padding-top: 30vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}